@{
    ViewData["Title"] = "Задания";
}

<h2>@ViewData["Title"]</h2>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
<p>Список заданий</p>
